flows_DESKTOP-CHRPMGD.json
[
    {
        "id": "9a26f9f2.93e428",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "45293bba.3eb3a4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dbfa0c9f.ba7118",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3e665dba.0d3232",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93ecab76.61da58",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb5bd0b6.3e15f8",
        "type": "inject",
        "z": "9a26f9f2.93e428",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\" : \"Martin\"}",
        "payloadType": "json",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "d82943a7.a081"
            ]
        ]
    },
    {
        "id": "d82943a7.a081",
        "type": "debug",
        "z": "9a26f9f2.93e428",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "a8cd18c1.252ae8",
        "type": "http in",
        "z": "45293bba.3eb3a4",
        "name": "",
        "url": "/web",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "cd884d14.f8597"
            ]
        ]
    },
    {
        "id": "3ddec4f4.a96574",
        "type": "http response",
        "z": "45293bba.3eb3a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd884d14.f8597",
        "type": "template",
        "z": "45293bba.3eb3a4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Node-RED Webpage sample</title>\n    </head>\n    <body>\n        <h1>Hello Node-RED!!</h1>\n        <h2>Menu 1</h2>\n        <p>It is Node-RED sample webpage.</p>\n        <hr>\n        <h2>Menu 2</h2>\n        <p>It is Node-RED sample webpage.</p>\n    </body>\n</html>",
        "output": "str",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "3ddec4f4.a96574"
            ]
        ]
    },
    {
        "id": "44970d64.04ce44",
        "type": "http in",
        "z": "dbfa0c9f.ba7118",
        "name": "",
        "url": "/web",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "7f0a592c.d1c2b"
            ]
        ]
    },
    {
        "id": "98404bf8.1de09",
        "type": "http response",
        "z": "dbfa0c9f.ba7118",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "7f0a592c.d1c2b",
        "type": "template",
        "z": "dbfa0c9f.ba7118",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Node-RED Webpage sample</title>\n    </head>\n    <body>\n        <h1>Hello Node-RED!!</h1>\n        <h2>Menu 1</h2>\n        <p>It is Node-RED sample webpage.</p>\n        <hr>\n        <h2>Menu 2</h2>\n        <p>It is Node-RED sample webpage.</p>\n    </body>\n</html>",
        "output": "str",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "98404bf8.1de09"
            ]
        ]
    },
    {
        "id": "b846367c.7e2ef8",
        "type": "inject",
        "z": "3e665dba.0d3232",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Martin\"}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "d354ee95.3c8b88"
            ]
        ]
    },
    {
        "id": "1c82b978.89216f",
        "type": "complete",
        "z": "3e665dba.0d3232",
        "name": "",
        "scope": [
            "b846367c.7e2ef8"
        ],
        "uncaught": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "660da16b.a55fd"
            ]
        ]
    },
    {
        "id": "d354ee95.3c8b88",
        "type": "debug",
        "z": "3e665dba.0d3232",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c1471919.bd1678",
        "type": "catch",
        "z": "3e665dba.0d3232",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "660da16b.a55fd"
            ]
        ]
    },
    {
        "id": "660da16b.a55fd",
        "type": "debug",
        "z": "3e665dba.0d3232",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "df0b7517.b6355",
        "type": "inject",
        "z": "93ecab76.61da58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "900c545e.79491",
                "93b55833.568de"
            ]
        ]
    },
    {
        "id": "900c545e.79491",
        "type": "debug",
        "z": "93ecab76.61da58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "93b55833.568de",
        "type": "function",
        "z": "93ecab76.61da58",
        "name": "",
        "func": "// generate random number\nvar min = 1 ;\nvar max = 10 ;\nvar a = Math.floor( Math.random() * (max + 1 - min) ) + min ;\n// set random number to message\nmsg.payload = a;\n// return message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "2df62165.ccd5c6",
                "20e64d3c.6561aa"
            ]
        ]
    },
    {
        "id": "2df62165.ccd5c6",
        "type": "switch",
        "z": "93ecab76.61da58",
        "name": "Big and Small",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "1418e59a.b922d2"
            ],
            [
                "76feef06.82b68"
            ]
        ]
    },
    {
        "id": "1418e59a.b922d2",
        "type": "template",
        "z": "93ecab76.61da58",
        "name": "Output Small",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The number is small: {{payload}} !",
        "output": "str",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "406c98b7.b49eb8"
            ]
        ]
    },
    {
        "id": "76feef06.82b68",
        "type": "template",
        "z": "93ecab76.61da58",
        "name": "Output Big",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The number is big: {{payload}} !",
        "output": "str",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "999fc4de.89062"
            ]
        ]
    },
    {
        "id": "20e64d3c.6561aa",
        "type": "change",
        "z": "93ecab76.61da58",
        "name": "Change to String",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been changed to string data!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "f257d586.e2a7d"
            ]
        ]
    },
    {
        "id": "406c98b7.b49eb8",
        "type": "debug",
        "z": "93ecab76.61da58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "999fc4de.89062",
        "type": "debug",
        "z": "93ecab76.61da58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "f257d586.e2a7d",
        "type": "debug",
        "z": "93ecab76.61da58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "7fe5ec82.01033c",
        "type": "inject",
        "z": "93ecab76.61da58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "57905188.f0d178"
            ]
        ]
    },
    {
        "id": "57905188.f0d178",
        "type": "debug",
        "z": "93ecab76.61da58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 460,
        "wires": []
    }
]